<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="/board.css" rel="stylesheet">
</head>
<body>
    <div id="main_container">
        <h2>게시글 리스트</h2>
        <div class="logininfo">
            <div class="login">
                <div id="loginUser">님이 로그인하셨습니다</div>
                <input type="button" value="회원정보수정" onClick="" />
                <input type="button" value="로그아웃" onClick=""/>
                <input type="button" value="회원탈퇴" onClick=""   />
            </div>
            <div class="writebutton">
                <input type="button" value="게시글 등록" onClick="" />
            </div>
        </div>
    
        <div class="board" id="board">
            <div class="title_row">
                <div class="title_col">번호</div><div class="title_col">제목</div>
                <div class="title_col">작성자</div><div class="title_col">작성일</div>
                <div class="title_col">조회수</div>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        getLoginUser();

        async function getLoginUser(){
            try{
                const result = await axios.get('/loginUser');   //요청url
                const loginUser = result.data;  //객체변수
                document.getElementById('loginUser').innerHTML = loginUser.userid + "(" + loginUser.name + ")"  //위에있는id값
            }catch{
                console.log(err)
            }
        }
    </script>
</body>
</html>