<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link href="/css/gram.css" rel="stylesheet" >
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div class="write-wrap" style="background-color: aquamarine; border-radius: 20px; padding:15px; box-sizing: border-box; margin:10px 0">
        <form id="post-form" enctype="multipart/form-data">
            <div class="field">
                <label>작성자</ label><input type="text" id="writer" readonly/>   
            </div>
            <div class="field">
                <label>내용</label><textarea id="content" rows="8" style="flex:4"></textarea>
            </div>
            <div class="field">
                <label>이미지 미리보기</label>
                <img id="img-preview" src="" sytle="display:none;" />
                <input id="savefilename" type="text" name="savename">
                <input id="image" type="text" name="originalname">
            </div>
            <div class="field">
                <label id="img-label" for="img">사진 업로드</label>
                <input id="img" type="file"><button id="img-btn" type="submit" class="btn">피드 업로드</button>
            </div>
        </form>
    </div>
    <script type="text/javascript">
        getLoginuser();

   
        document.getElementById('img').addEventListener('change', async (e)=>{
            const formData = new FormData();
            formData.append('img', e.target.files[0]);
            try{
                const result = await axios.post('/feed/imgup', formData);
                const res = result.data;
                console.log(res);
                document.getElementById('savefilename').innerHTML = res.savefilename;
                document.getElementById('image').value = res.image;
                document.getElementById('img-preview').src = '/img/' + res.savefilename;
                document.getElementById('img-preview').display = 'inline';
                document.getElementById('img-preview').style.width = '200px';
            }catch(err){
                console.log(err);
            }
        });
    </script>
</body>
</html>